<div class="page-header">
  <h1>
    Favorites
    <a href="/favorites/new" class="btn btn-lg btn-success">New Favorite</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th></th>
        <th>Title</th>
        <th>Cuisine</th>
        <th>Mealtype</th>
        <th>Event</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>

      <% @favorites.each do |favorite| %>
      <tr>
        <td><img src="<%= favorite.recipe.image %>" class="img-responsive"></td>
        <td><%= favorite.recipe.title %></td>
        <td><%= favorite.recipe.cuisine %></td>
        <td><%= favorite.recipe.mealtype %></td>
        <td><%= favorite.recipe.occassion %></td>
        <td><%= favorite.recipe.description %></td>
        <td>
          <a href="/recipes/<%= favorite.recipe.id %>" class="btn btn-primary">Show Recipe</a>
          <a href="/recipes/<%= favorite.recipe.id %>/edit" class="btn btn-warning">Edit Recipe</a>
          <a href="/delete_favorite/<%= favorite.id %>" class="btn btn-danger" rel="nofollow">Remove From Favorites</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
