<!-- Validation failure messages -->
<% if @recipe.errors.any? %>
  <% @recipe.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Your<%= @recipe.title %> Recipe</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_recipe/<%= @recipe.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input name="user_id" type="hidden" value="<%= current_user.id %>">

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="<%= @recipe.title %>">
      </div>

      <!-- Label and input for cuisine -->
      <div class="form-group">
        <label for="cuisine" class="control-label">
          Cuisine
        </label>

        <input type="text" id="cuisine" name="cuisine" placeholder="Cuisine" class="form-control" value="<%= @recipe.cuisine %>">
      </div>

       <!-- Label and input for mealtype -->
      <div class="form-group">
        <label for="mealtype" class="control-label">
          Mealtype
        </label>

        <input type="text" id="mealtype" name="mealtype" placeholder="Mealtype" class="form-control" value="<%= @recipe.mealtype %>">
      </div>


      <!-- Label and input for occassion -->
      <div class="form-group">
        <label for="occassion" class="control-label">
          Occassion
        </label>

        <input type="text" id="occassion" name="occassion" placeholder="Occassion" class="form-control" value="<%= @recipe.occassion %>">
      </div>


      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="<%= @recipe.description %>">
      </div>

       <!-- Label and input for ingridients -->
      <div class="form-group">
        <label for="ingridients" class="control-label">
          Ingridients
        </label>

        <textarea id="ingridients" name="ingridients" placeholder="Ingridients" class="form-control" rows="3"><%= @recipe.ingridients %></textarea>
      </div>


      <!-- Label and input for preparation -->
      <div class="form-group">
        <label for="preparation" class="control-label">
          Preparation
        </label>

        <textarea id="preparation" name="preparation" placeholder="Preparation" class="form-control" rows="3"><%= @recipe.preparation %></textarea>
      </div>


      <!-- Label and input for image -->
      <div class="form-group">
        <label for="image" class="control-label">
          Image
        </label>

        <input type="text" id="image" name="image" placeholder="Image" class="form-control" value="<%= @recipe.image %>">
      </div>

      <button class="btn btn-warning">
        Update Recipe
      </button>
      or
      <a href="/recipes/<%= @recipe.id %>">Cancel</a>
    </form>
  </div>
</div>
