<div class="page-header">
  <h3><%= @recipe.title %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">

      <dt>Cuisine</dt>
      <dd><%= @recipe.cuisine %></dd>

      <dt>Ingridients</dt>
      <dd><%= @recipe.ingridients %></dd>

      <dt>Preparation</dt>
      <dd><%= @recipe.preparation %></dd>

      <dt>Image</dt>
      <dd><<img src="<%= @recipe.image %>" class="img-responsive"></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/recipes" class="btn btn-primary">
        Back
      </a>
      <a href="/recipes/<%= @recipe.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_recipe/<%= @recipe.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
